/* _header_nav */









/* _footer */
footer {
    height: 60px;
    color: white;
    background-color:rgb(85, 84, 84) ;
}
.text_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}