
/*Header Photo static*/
.headerTitle{
    display: flex;
    background: /*linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)),*/
        url("../../src/assets/picture/lyon_alpes.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 60px 30px 0 30px;
    max-width: 100%;
    height: 230px;
}

.headerTitle p{
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    padding : 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.parent_description{
   display: flex;
   justify-content: center;
   flex-flow: wrap;
   margin-top: 10px;
   z-index: 2;
}

.photo_description{
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.photo_text{
    position: absolute;
    width: 320px;
    height: 30px;
    text-decoration: none;
    bottom: 8px;
    background-color: var(--backgroundLightNav);
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
    overflow: hidden;
    margin-bottom: 10px;
    opacity: 0.6;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

.photo_text:hover,.photo_text:focus, .photo_text:active{
    height: 200px;
    background-color: var(--backgroundLightNav);
    opacity: 1;
}

.clickDown, .clickDownTwo, .clickDownThree, .clickDownFour, .clickDownFive, .clickDownSix, .clickDownSeven{
    height: 200px;
    background-color: var(--backgroundLightNav);
    opacity: 1;
}

.title_photo{
    margin: 0;
    padding-top: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.content{
    margin-top: 20px;
    text-align: justify;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    border-radius: 10px;
    width: 320px;
    height: 350px;
}

button{
    background-color: var(--colorDark);
    color: var(--colorLight);
    border-radius: 5px;
    cursor: pointer;
    float: right;
    vertical-align: middle;
}


/*Tablet and computer*/
@media screen and (min-width: 768px){

    .headerTitle {
        background-position: bottom 30% right 0;
    }
    .headerTitle p {
        font-size: 1em;
    }

main{
    margin: 0 100px;
}

.img{
    max-width: 320px;
}

}