.headerTitle {
  display: flex;
  background-image: url("../assets/picture/contact.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 60px 30px 0 30px;
  max-width: 100%;
  height: 230px;
}

.headerTitle p {
  color: whitesmoke;
  font-size: 14px;
  font-weight: bold;
  padding : 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
  padding-top: 1em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px 20px;
  border-radius: 10px;
}

.contactform {
  width: 790px;
  height: 23em;
  background: #fff;
  overflow: hidden;
  padding: 72px 55px 90px 53px;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  border-radius: 15px 50px;
}

form {
  display: grid;
  justify-content: center;
  border-radius: 3px;
  grid-gap: 20px;
}

.form-control {
  transition: all 0.6s;
}

.form-control:focus {
  box-shadow: none;
  border-color: red;
  outline: none;
}

#message {
  width: 10em;
  height: 2em;
}
input {
  border: none;
  border-bottom: 1px solid black;
  color: #666;
  display: inline-block;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 28px;
}

.btn {
  justify-self: center;
  width: 110px;
}

@media screen and (min-width: 768px) {
 
  .headerTitle {
    background-position: 20%;
  }
  
  .headerTitle p {
    font-size: 1em;
  }

  .bigtextinput {
    width: 500px;
    height: 70px;
  }
 #message {
   width: 100%;
 }
  iframe {
    width: 800;
    height: 600;
  }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 50%;
    position: absolute;
  }

  .vertical {
    border-left: 1px solid black;
    height: 400px;
    position: absolute;
    left: 52%;
    margin-top: 8%;
  }
}
