/* Variables Assignation */

:root {
    --backgroundDarkNav: #101010;
    --backgroundLightNav: lightgray;
    --colorDark: #101010;
    --colorLight: lightgray;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}





@media screen and (min-width: 768px) {

    main {
        margin: 0 100px;
    }

}