.headerTitle{
    display: flex;
    background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.6)),
        url("../assets/picture/lyonnight.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 60px 30px 0 30px;
    max-width: 100%;
    height: 230px;
    
}

.headerTitle p {
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    padding : 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
}

.cards {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*Anciennes propriétés pour les images des cartes*/
/*
.card-img {
    /*border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/picture/lebouchondesfilles2.jpg");
    height: 200px;
    width: 100%;
}
*/

/*Nouvelles propriétés pour les images des cartes*/
.card-img img{
    border-radius: 10px 10px 0 0;
    height: 200px;
    width: 100%;
}

.card-body {
    padding: 10px 20px;
}

.card-body a {
    color: initial;
}

.card-body h2 {
    margin: 10px 0px;
}

.card-body iframe{
    width: 100%;
    height: 250px;
}

.card-button {
    display: flex;
    justify-content: space-between;
}

.card-button button {
    background-color: var(--colorDark);
    border: none;
    border-radius: 5px 10px 5px 5px;
    color: var(--colorLight);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:comic, sans-serif;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (min-width: 440px) {
    
    .card {
        width: 380px;
    }
    }

@media screen and (min-width: 768px) {

    .headerTitle p {
        font-size: 1em;
    }

.card {
    width: 320px;
}
}