.headerTitle {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundLightNav);
    background-image: url("../../src/assets/picture/skyline.jpg");
    background-size: cover;
    margin-top: 0;
    padding: 60px 30px 0 30px;
    max-width: 100%;
    height: 230px;
}

.headerTitle p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 60px 30px 0 30px;
}

.headerTitle img {
    width: 80%;
}


@media screen and (min-width: 768px) {
    .headerTitle p {
        font-size: 16px;
    }
}