/* HEADER */

.headerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../src/assets/picture/balad_lyon/guide_nav.jpg");
    background-size: cover;
    margin-top: 0;
    padding-top: 60px;
    max-width: 100%;
    height: 230px;
}

.headerTitle p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 60px 30px 0 30px;
}

/* MAIN - ARTICLE */

.introduction {
    max-width: 90%;
    margin: auto;
    text-align: justify;
}

.mainBallad h2 {
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}

.mainBallad article {
    background-color: white;
    margin: 20px 10px;
    /* padding: 0 10px; */
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
}

.introduction a {
    text-decoration: underline;
    color: var(--colorDark);
    font-weight: bold;
}

.myMapsBallad {
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 2px lightgray;
}

.journey {
    padding: 0 10px;
}

.journey img {
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgray;
}

.journey p {
    text-align: justify;
}

.linksInPage {
    color: black;
    font-weight: bold;
}







@media screen and (min-width: 768px) {
    
   

    .journeyFloatLeft {
        float: left;
        padding: 0 5px;
    }
    
    .journeyFloatRight {
        float: right;
        padding: 0 5px;
    }



}