/* HEADER */

.headerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../src/assets/picture/balad_lyon/guide_nav.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 0;
    padding-top: 60px;
    max-width: 100%;
    height: 230px;
}

.headerTitle p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 60px 30px 0 30px;
}

/* MAIN - ARTICLE */

.introduction {
    max-width: 90%;
    margin: auto;
    text-align: justify;
}

.mainBallad h2 {
    font-family: 'Nothing You Could Do';
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}

.mainBallad article {
    background-color: white;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.introduction a {
    text-decoration: underline;
    color: var(--colorDark);
    font-weight: bold;
}

.introduction a:hover {
    color: darkred;
}

.myMapsBallad {
    display: block;
    margin: auto;
    border: none;
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 2px lightgray;
}

.journey {
    padding: 0 10px;
}

.journey img {
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgray;
}

.journey p {
    text-align: justify;
    line-height: 1.3em;
}

.linksInPage {
    color: black;
    font-weight: bold;
}







@media screen and (min-width: 768px) {

    .headerTitle p {
        font-size: 16px;
        padding: 60px 100px 0 100px;
    }

    .introduction {
        margin-bottom: 50px;
    }


    .mainBallad h2 {
        font-size: 25px;
        margin-top: 30px;
    }
    
    .journey img {
        width: 250px;
        height: 150px;
        margin: 0 0 10px 0;
        border-radius: 15px;
        box-shadow: none;
    }

    .journeyFloatLeft {
        float: left;
        padding: 0 10px 0 0;
    }
    
    .journeyFloatRight {
        float: right;
        padding: 0 0 0 10px;
    }

}

@media screen and (min-width: 1080px) {

    main {
        margin: 0 200px;
    }

}