/* HEADER */

.headerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../src/assets/picture/crayon.jpg");
    background-size: cover;
    margin-top: 0;
    padding-top: 60px;
    max-width: 100%;
    height: 230px;
}

/* MAIN - ARTICLE */

.mainBallad {
    scroll-behavior: smooth;
}

.myMapsBallad {
    display: block;
    margin: auto;
    border: none;
    box-shadow: 2px 2px 2px lightgray;
}

.journeyFloatLeft {
    float: left;
    padding: 0 5px;
}

.journeyFloatRight {
    float: right;
    padding: 0 5px;
}

.journey p {
    text-align: justify;
}

.linksInPage {
    color: black;
    font-weight: bold;
}







@media screen and (min-width: 768px) {
    
    .introBallad {
        max-width: 90%;
        margin: auto;
    }

}